
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background:linear-gradient(#CF2425,#DA6062 50%,#DA6062 60%,#DA3B3F);
}
.background-image{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 50%;
    z-index: -1;
}



header{
    height: 100px;
}
header nav{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    margin-left: 75px ;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content-text{
    position: absolute;
    color: #FFF;
    font-size: 2.25rem;
    font-family: 'Montserrat', sans-serif;
    width: 212px;
    transform: translateX(-100%);
    text-align: end;
    margin-right: 24px;
}
.content-image{
    height: 80vh;
    filter: drop-shadow(0px 200px 20px #0006);
}
footer{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 75px;
}


@media (max-width:768px) {
    header nav{
        margin-left: 25px;
    }
    main{
        align-items: flex-end;
    }
    .content-text{
        transform: translatex(0);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
        margin: 0;
    }
    .content-image{
        height: 70vh;
    }
    footer{
        height: 60px;
        margin-right: 25px;
    }
}


