*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #F5CF06;
    --secondary-color: #8E4106;
}

body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
}

header{
    margin-top: 70px;
}

header a{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
}
main{
    flex-grow: 1;
}

.title{
    position: relative;
    grid-column: 1/-1;
    place-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__text{
    font-size: 20vw;
    color: #fff;
}
.title__transparent{
    position: absolute;
    top: -50%;
    font-size: 27vw;
    color: #fff5;
    z-index: -1;
}

.description {
    grid-column: 1/7;
    place-self: start;
    color: var(--secondary-color);
    z-index: 1;
}
.description__title{
    font-size: 4rem;
}
.description__text{
    width: 500px;
    font-size: 1.2rem;
}
.action {
    grid-column: 7/-1;
    place-self: start end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.footer__text{
    grid-column: 1/-1;
    place-self: center;
    margin-bottom: 24px;
    color: var(--secondary-color);
    font-size: 1rem;
}

.pikachu-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* TABLET */

@media (max-width:960px) {
    .container {
        grid-template-columns: 1fr;
    }
    header{
        margin-top: 30px;
    }
    .title{
        place-self: start center;
        transform: translateY(20%);
    }
    .description{
        grid-column: 1;
        grid-row: 2;
        place-self: center;
        text-align: center;
    }
    .action{
        grid-column: 1;
        grid-row: 2;
        place-self: end center;
        margin-bottom: 24px;
    }

    footer{
        display: none;
    }
}

@media (max-width:640px) {
    .description__title{
        font-size: 10vw;
    }
    .description__text  {
        display: none;
    }
    .action{
        width: 100%;
        font-size: 10vw;
    }
    .pikachu-image{
        width: 90vw;
    }
}