.login-container{
    position: relative;
    height: 480px;
    width: 768px;
    border-radius: 12px;
    box-shadow: 0 5px 20px #A0A0A0;
    overflow: hidden;
}

@media (max-width:768px){
    .login-container{
        width: 75vw;
        height: 75vh;
    }
}

@media (max-width:480px){
    .login-container{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }
}