:root{
    --primary-color: #FCD116;
    --secundary-color: #108E34;
    --secundary-color-transparent: #108E3499;
    --tertiary-color: #0C4076;
}

body{
    height: 100vh;
    background-image: url(../img/estadio-lusail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 35% bottom;
    font-family: 'Iceland', cursive;
    display: grid;
    grid-template-rows: 140px 1fr 200px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/background-cores.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .6;
    z-index: -1;
}

@media (max-width:1024px) {
    body{
        background-repeat: repeat;
        grid-template-rows: 140px calc(100vh - 140px) 1fr;
    }
}